on:
  pull_request:
    branches: ['master']
  push:
    branches: ['master']

permissions:
    contents: read
    
name: Semgrep
jobs:
  semgrep:
    permissions:
      contents: read # for actions/checkout to fetch code
    name: Scan
    runs-on: ubuntu-20.04
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: returntocorp/semgrep
    steps:
    - uses: actions/checkout@v3
    - run: semgrep scan --config=policy
